body{
  margin: 0;
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: #272522;
}
.board{
  display: grid;
  place-content: center;
  grid-template-columns: repeat(8 ,100px);
  grid-template-rows: repeat(8, 100px);
  width: 800px;
  height: 800px;
}
.piece{
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  background-position: center;
}
.piece:hover{
  cursor: grab;
}
.piece:active{
  cursor: grabbing;
}
.tile{
  display: grid;
  place-content: center;
}
.white-tiles{
  background-color: #f0d9b5;
}
.black-tiles{
  background-color: #b58863;
}
@media screen and (max-width: 992px),  screen and (max-height: 800px){
  .board{
    grid-template-columns: repeat(8 ,50px);
    grid-template-rows: repeat(8, 50px);
    width: 400px;
    height: 400px;
  }
  .piece{
    width: 50px;
    height: 50px;
    background-size: contain;
  }
}