body{
  margin: 0;
  display: grid;
  place-content: center;
  height: 100vh;
}

.board{
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  height: 800px;
  background-color: #4b7399;
}
.tile{
  width: 100px;
  height: 100px;
}
.App{
  background-color: #272522;
}