body{
  margin: 0;
  display: grid;
  place-content: center;
  height: 100vh;
  background-color: #272522;
}
.board{
  display: grid;
  grid-template-columns: repeat(8 ,100px);
  grid-template-rows: repeat(8, 100px);
  width: 800px;
  height: 800px;
}
.white-tiles{
  background-color: beige;
}
.black-tiles{
  background-color: #4b7399;
}